/* Organized document for the elements to appear in the same order as in the linked.html */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* changed class header to semantic tag everywhere */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

li{
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* changed class for id */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* content changed from class to semantic tag */
content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* replaced 3 classes below with one semantic tag section */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
    
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* replaced 3 classes below for one h2 for all */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* changed class benefits for semantic tag aside */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* rplaced 3 classes below with one */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* replaced 3 classes below for one h3 */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* replaced 3 classes below for aside img */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}

/* changed classes footer for semantig tag footer and h2 for h4 */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
